<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{restaurant.resta_name}} Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/styles/menu_styles.css">
    <link rel="shortcut icon" href="../../public/images/favicon.png" type="image/x-icon">
    <style>
    body {
        background-color: {{restaurant.bodyColor}};
        color: {{restaurant.fontColor}};
    }
    .menu-header {
        background-color: {{restaurant.headerColor}};
    }
    .menu-item{
      background-color: {{restaurant.itemBackgroundColor}};
    }
      /* Custom media query for navbar to be responsive below 400px */ 
      @media (max-width: 400px) {
      .navbar-toggler { display: block; } .navbar-collapse { display: none; }
      .navbar-collapse.show { display: block; } }


    </style>

</head>
 <body>
  {{> nav_client_menu}}
    
    {{{body}}}


    <footer class="text-center py-3">
        powered by:
        <img style="max-height: 40px;" src="../../public/images/QRMenu_Logo200px.png" alt="QR Menu Logo"> <br><br>
      <span>Ⓒ QRMenu 2024</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>