<div class="sidebar">
    <a href="/user_dashboard">User Dashboard</a>
    <a href="/restaurant/{{restaurant._id}}/styles">Customize Style</a>
    <a href="/edit_account">Edit Account</a>
    <a href="/logout">Logout</a>
</div>
<main class="main-content">
    <div class="container">
        <h1>{{restaurant.resta_name}}</h1>
        <p>{{restaurant.resta_description}}</p>
        
        <h2>Menu</h2>
        <div class="menu-items">
            {{#each menuItems}}
                <div class="menu-item">
                    <h3>{{this.item_name}} </h3>
                    <p>{{this.item_description}}</p>
                    <p>Price: ${{this.item_price}}</p>
                    {{#if this.item_photo_thumbnail.data}}
                    <img src="/menu_item_image/{{this._id}}" alt="{{this.item_name}}">
                    {{/if}}
                    <p>Category: {{this.item_category}} <br> Labels: {{this.item_labels}}</p>
                    
                    <!-- Edit Button -->
                    <form action="/restaurant/{{../restaurant._id}}/menu/{{this._id}}/edit" method="GET" class="menu-item-form">
                    <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#menu-{{this._id}}">
                      Delete
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="menu-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete menu item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                This action will delete <b>{{this.item_name}}</b>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <form action="/restaurant/{{../restaurant._id}}/menu/{{this._id}}/delete" method="POST" class="menu-item-form">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <form action="/add_menu_items" method="GET">
            <button type="submit" class="btn btn-primary d-block">Add Menu Items</button>
        </form>
        <!-- Customize Style Button -->
        <form action="/restaurant/{{restaurant._id}}/styles" method="GET" class="menu-item-form">
            <button type="submit" class="btn btn-secondary">Customize Menu Style</button>
        </form> 
    </div>
</main>
