 <div class="sidebar">
    <a href="/create_restaurant_profile">Create Restaurant</a>
    <a href="/edit_account">Edit Account</a>
    <a href="#" data-toggle="modal" data-target="#account-{{user.id}}">Delete Account</a>
    <a href="/logout">Logout</a>
</div>
<!-- Modal To delete account -->
                    <div class="modal fade" id="account-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete account </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            This action will delete your account, all your restaurants and menus <b>{{user.firstname}}</b>. Are you sure?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                          <a href="/api/delete_account/{{user.id}}"  class="btn btn-danger">Delete Account</a>
                          </div>
                        </div>
                      </div>
                    </div>


 <main class="main-content">
    <h1>User Dashboard</h1>
    <button class="btn btn-primary" onclick="window.location.href='/create_restaurant_profile'">Create Restaurant Profile</button></br></br>
    <div class="resta-group-container">
        <h3>My Restaurants</h3>
    {{#if restaurants.length}}
      {{#each restaurants}}
                <div class="resta-container">
                    
                        <h2>{{this.resta_name}}</h2>
                        <img src="uploads/{{this.resta_logo}}" alt="{{this.resta_name}} Logo" style="max-width: 200px; max-height:100px">
                        <p><strong>Description:</strong> {{this.resta_description}}</p>
                        <p><strong>Location:</strong> {{this.resta_location}}</p>
                        <p><strong>Hours:</strong> {{this.resta_hours}}</p>
                        <p><strong>Email:</strong> {{this.resta_email}}</p>
                        <p><strong>Phone:</strong> {{this.resta_phone}}</p>
                    
                    {{#if (lookup ../menuItemsByRestaurant this._id)}}
                      <form action="/restaurant/{{this._id}}" method="GET" class="resta-form">
                        <button type="submit" class="btn btn-secondary">Manage Menu</button>
                      </form>
                      {{!-- Had to use an anchor to target _blank ugh --}}
                      <form>
                      <a href="/restaurant/{{this._id}}/client_menu" target="_blank" class="btn btn-secondary">View Client Menu</a>
                      </form>
                      {{!-- Download the QR Code --}}
                      <form action="/restaurant/{{this._id}}/qrcode/download" method="GET" class="resta-form">
                          <button type="submit" class="btn btn-primary">Get Qr Code</button>
                      </form>

                    {{/if}}
                    
                      <form action="/add_menu_items" method="GET" class="resta-form" >
                        <button type="submit" class="btn btn-secondary">Add Menu Items</button>
                      </form>

                      <form action="/restaurant/{{this._id}}/edit" method="GET" class="resta-form">
                        <button type="submit" class="btn btn-primary">Edit Restaurant Info</button>
                      </form>
                        
                      
                    <!-- Delete Button -->
                       <!-- Button trigger modal -->
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#resta-{{this._id}}">
                      Delete
                    </button>
                </div>
                <!-- Modal -->
                    <div class="modal fade" id="resta-{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete restaurant </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            This action will delete <b>{{this.resta_name}}</b>. Are you sure?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                          <a href="api/restaurant/delete/{{this._id}}"  class="btn btn-danger">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                {{/each}}
    </div>
    {{else}}
      <div class="analytics-placeholder">
        <div class="analytics-section">
          <h2>Nothing here yet</h2>
          <p>You have not created any restaurant profiles yet.</p>
        </div>
        <div class="analytics-section">
          <h3>Analytics</h3>
          <p>Placeholder for analytics or any other relevant information you want to display.</p>
        </div>
      </div>
    {{/if}}

  </main>


  {{!-- <script>
    
    const userWelcome = document.getElementById("userWelcome-dashboard");
    userWelcome.textContent = `Hello, {{user.email}}`;

  </script> --}}